:root {
  --bg-gradient: linear-gradient(60deg, #ee0979, #ff6a00);
  --font-family: "Blank-River";
}
@font-face {
  font-family: "Blank-River";
  src: url("../fonts/Blank-River.ttf");
}
body {
  background-color: black;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 75px;
}
h1 {
  margin: auto 0;
  font-family: var(--font-family);
  background-image: var(--bg-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.win-message {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  font-size: 7rem;
  font-weight: 600;
  color: black;
  font-family: var(--font-family);
  width: max-content;
}
.game-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  position: relative;
}
@keyframes pulse {
  100% {
    box-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    box-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
.strike-through {
  color: #fff;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
    0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  display: none;
}
.cell {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  cursor: pointer;
  font-size: 6rem;
  font-weight: 600;
  border-width: 8px;
  border-style: solid;
  border-image: var(--bg-gradient) 1;
  transition: transform 200ms ease-in-out;
}
.cell:hover {
  transform: scale(1.05) rotate(-2deg);
  background-color: rgb(150, 150, 150);
}
.player-labels {
  height: 35px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
}
#player1,
#player2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8ch;
}
.player {
  position: relative;
  background-image: var(--bg-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
}
.player-active {
  position: relative;
  font-size: 2rem;
}
.player-active::after {
  cursor: pointer;
  transition: all 200ms;
  position: absolute;
  background-color: transparent;
  content: url("../img/splash.svg");
  top: -88px;
  right: -117px;
  z-index: -1;
}
.settings {
  margin-top: 30px;
  position: relative;
}
.settings button {
  background-color: transparent;
  border: none;
}
.settings-title {
  margin-bottom: 15px;
  align-self: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
  font-family: var(--font-family);
}
.close-btn {
  align-self: flex-end;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 10px;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 2rem;
  background-color: transparent;
  transition: transform 200ms ease-in;
  z-index: 99;
}
.close-btn:hover {
  transform: scale(1.05) rotate(5deg);
}
.reset-btn {
  align-self: center;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 3rem;
  border: none;
  background-color: transparent;
  transition: 200ms ease-in;
}
.reset-btn:hover {
  transform: scale(1.05) rotate(-5deg);
}
#gear-icon {
  cursor: pointer;
  position: absolute;
  margin-top: 60px;
  width: 60px;
  height: auto;
  left: -22px;
  transition: 200ms ease-in;
}
#gear-icon:hover {
  transform: rotate(-10deg) scale(1.08);
}
#splatter {
  position: absolute;
  width: 130px;
  top: -5px;
  left: -56px;
  height: auto;
  z-index: -1;
}
.spacer {
  width: 100px;
}
@keyframes paintball {
  0% {
    transform: scale(0) translateY(0);
  }
  50% {
    transform: scale(0.5) translateY(-100px);
  }
  100% {
    transform: scale(2.5) translateY(0);
  }
}
dialog {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}
dialog::before {
  z-index: -1;
  position: relative;
  content: url("../img/modal-splatter.svg");
  display: inline-block;
  transform: scale(2.75);
  top: calc(((100vh - 700px) / 2) + 130px);
  left: calc(((100vw - 1000px) / 2) + 275px);
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(3px);
}
.modal-content {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 350px;
  position: absolute;
  left: calc((100vw - 500px) / 2);
  top: calc((100vh - 350px) / 2 - 75px);
}
dialog p {
  position: absolute;
  z-index: 999;
  font-size: 2rem;
  top: 250px;
  left: 100px;
}
.settings-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.player-name {
  justify-self: center;
  grid-column: span 4;
  font-size: 2rem;
  font-weight: 600;
  color: black;
  font-family: var(--font-family);
  margin-bottom: 15px;
}
.player-type {
  border: none;
  cursor: pointer;
  background: transparent;
  justify-self: center;
  grid-column: span 2;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  font-family: var(--font-family);
  margin-bottom: 15px;
  transition: 100ms ease-in;
}
.player-type:hover {
  transform: scale(1.05) rotate(5deg);
}
.active {
  text-decoration: underline;
}
.bot-level {
  grid-column: span 8;
  justify-self: center;
  font-size: 2rem;
  font-weight: 400;
  color: black;
  font-family: var(--font-family);
  margin: 15px 0;
}
.bot-difficulty {
  border: none;
  cursor: pointer;
  background: transparent;
  grid-column: span 2;
  justify-self: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  font-family: var(--font-family);
  transition: 100ms ease-in;
}
.bot-difficulty:hover {
  transform: scale(1.05) rotate(5deg);
}
@media (min-width: 500px) {
  .cell {
    height: 120px;
    width: 120px;
  }
}
